.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #05051e url("../../assets/background-main.png") no-repeat center
    center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
  margin-top: 10px;
}
.button-signin {
  margin: 20px 0;
}
